.creaarbox {
    float: none;
    clear: both
}

.pied {
    background-color: rgba(21, 15, 15, 0.905);
    /* position: absolute; */
    /* bottom: 0; */
    /* width: 100%; */
}

.pied span,
.pied span a {
    color: white;
    display: block;
    text-align: center;
    padding: 0.2%;
    text-transform: uppercase;
}